
<!DOCTYPE html>
<html dir="ltr" lang="bg">
  <meta charset="utf-8" />
  <!-- v20924 -->

  <title>Политика за поверителност  &ndash; Помощ</title>

  
  
  <meta name="description" content="CreITBuy  България – Декларация за поверителност Последно обновена на 13 март ,2022. Предишната версия на Декларацията за поверителност е..." /><meta property="og:image" content="https://theme.zdassets.com/theme_assets/537336/4aa93903b7fd0e716e0de5402a5bfcb4fbc05541.svg" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Помощ" />
<meta property="og:title" content="Политика за поверителност 13/03/2022" />
<meta property="og:description" content="CreITBuy  България – Декларация за поверителност
Последно обновена на 5 февруари ,2021. 
Ние сме загрижени за Вашата поверителност и см..." />



    

  <meta content="width=device-width, initial-scale=1.0" name="viewport" />















  







   

   
    
    <article id="main-content" class="article">
      <header class="article-header" id="pravHeader">
        <h1 title="Политика за поверителност 13/03/2022" class="article-title">
          Политика за поверителност 13/03/2022
          
        </h1>

        <div class="article-author">
          
          <div class="article-meta">
            

            <ul class="meta-group">
              
              <li class="meta-data"><time datetime="2021-09-16T10:01:30Z" title="2021-09-16T10:01:30Z" data-datetime="relative">13 март, 2022 15:01</time></li>
              <li class="meta-data">Обновено</li>
              
            </ul>
          </div>
        </div>

        
        <div class="article-subscribe"><div data-helper="subscribe" data-json="{&quot;item&quot;:&quot;article&quot;,&quot;url&quot;:&quot;/hc/bg/articles/360000904709-%D0%9F%D0%BE%D0%BB%D0%B8%D1%82%D0%B8%D0%BA%D0%B0-%D0%B7%D0%B0-%D0%BF%D0%BE%D0%B2%D0%B5%D1%80%D0%B8%D1%82%D0%B5%D0%BB%D0%BD%D0%BE%D1%81%D1%82-05-02-2021/subscription.json&quot;,&quot;follow_label&quot;:&quot;Абониране&quot;,&quot;unfollow_label&quot;:&quot;Прекратяване на следенето&quot;,&quot;following_label&quot;:&quot;Следи&quot;,&quot;can_subscribe&quot;:true,&quot;is_subscribed&quot;:false}"></div></div>
        
      </header>
          <section class="article-info">
        <div class="article-content" id="content">
          <div class="article-body"><p><strong>CreITBuy&nbsp; България – Декларация за поверителност</strong></p>
<p><em><span>Последно обновена на 5 февруари ,2021. Предишната версия на Декларацията за поверителност е достъпна <a href="/hc/bg/articles/360009033458" target="_self">тук</a>.&nbsp;</span></em></p>
<p><em>Ние сме загрижени за Вашата поверителност и сме длъжни да защитаваме Вашите лични данни. Настоящата Политика за поверителност</em><em>&nbsp;</em><strong><em>(“Политика”)</em></strong><em>&nbsp;</em><em>Ви информира как управляваме Вашите лични данни, Вашите права за поверителност и как законът Ви защитава. Моля, прочетете внимателно тази Политика, преди да използвате нашите Услуги.</em></p>
<p><strong>Съдържание</strong></p>
<ol>
<li><span><a href="#r1">Кои сме ние?</a></span></li>
<li><span><a href="#r2">Какви данни събираме за Вас?</a></span></li>
<li><span><a href="#r3">Събираме ли данни от деца?</a></span></li>
<li><span><a href="#r4">Защо обработваме Вашата лична информация?</a></span></li>
<li><span><a href="#r5">Обработване на данни като част от CreITBuy Портал за Програмисти/Разработчици</a></span></li>
<li><span><a href="#r6">Как ще Ви информираме за промени в декларация за поверителност?</a></span></li>
<li><span><a href="#r7">Вашите права</a></span></li>
<li><span><a href="#r8">Комуникация и маркетинг</a></span></li>
<li><span><a href="#r9">С кого споделяме Вашите данни?</a></span></li>
<li><span><a href="#r10">Международен пренос на лични данни</a></span></li>
<li><span><a href="#r11">Къде съхраняваме Вашите данни и за какъв период?</a></span></li>
<li><span><a href="#r12">Технически и организационни мерки за сигурност на обработването</a> </span></li>
<li><span><a href="#r13">Връзки към сайтове на трети страни</a></span></li>
<li><span><a href="#r14">Контакти</a></span></li>
<li><span><a href="#r15">Контролен орган за защита на данните</a></span></li>
</ol>
<p>&nbsp;</p>
<p>В тази Политика:</p>
<p><strong>Услуги</strong>&nbsp;означава всякакви продукти, услуги, съдържание, характеристики, технологии или функции, и всички свързани уеб сайтове, приложения и услуги, предлагани от нас.&nbsp;</p>
<p><strong>Платформа&nbsp;</strong>означава уебсайтове, мобилни приложения, мобилни сайтове или други онлайн собствености, чрез които предлагаме нашите услуги.</p>
<div><a name="r1"></a><strong>1. Кои сме ние?</strong></div>
<p>Основният администратор на вашите данни за целите на нашите международни услуги е CreITBuy Global BV, дружество с ограничена отговорност със седалище Gustav Mahlerplein 5, Symphony Offices, 1082 MS Amsterdam, Холандия. CreITBuy Global BV е компанията майка на дружеството CreITBuy, което Ви предоставя Услугите ни съгласно нашите <a href="https://help.CreITBuy.bg/hc/bg/sections/202515965">Общи условия</a> (наричани по-долу „<strong>CreITBuy</strong>“, „<strong>ние</strong>“ или „<strong>нашето</strong><strong>“</strong> в настоящата политика за поверителност“). Това CreITBuy дружество също се счита за администратор на данни за местните услуги, които предлага. Съответните данни за контакт са посочени в раздел <a href="#_49x2ik5">13</a>.</p>
<p>Местният администратор на данни е: <strong>“Наспърс Класифайдс България” ЕООД</strong>, компания, регистрирана и регистрирана в Република България с ЕИК 175345805 и седалище и адрес в София, ПК 1000, район Средец, ул. Ангел Кънчев 1, ет. 3.</p>
<div><a name="r2"></a><strong>2. Какви данни събираме за вас?</strong></div>
<p><strong><em>2.1.1.&nbsp;&nbsp; Данни, предоставени чрез директно взаимодействие</em></strong></p>
<p><strong>Регистрация и друга информация за акаунта</strong></p>
<p>Когато се регистрирате, за да използвате нашите Услуги, ние можем да съберем следната информация за вас:</p>
<ul>
<li>ако се регистрирате директно в нашата платформа, ще бъдете помолени да предоставите своя имейл адрес;</li>
<li>ако се регистрирате с помощта на вашия акаунт в Google: собствено име, фамилия и имейл адрес и URL към вашата снимка на профила в Google;</li>
<li>ако се регистрирате с помощта на вашия акаунт във Facebook: име и фамилия, както са се появили във вашия акаунт във Facebook, имейл адресът, свързан с вашия акаунт във Facebook, вашият Facebook ID и URL адресът на вашата снимка на профила във Facebook. В случай, че сте предоставили разрешение на Facebook чрез тяхната опция за поверителност в приложението (която се появява непосредствено преди да се регистрирате в нашите Услуги), ние можем да съберем вашия пол, възраст или имейл адрес в зависимост от разрешенията, предоставени от вас;</li>
<li>ако се регистрирате с помощта на вашия Apple ID акаунт: вашите име, фамилия и имейл адрес; Вие можете да решите дали да споделите с нас своя имейл адрес, когато влезете във вашия Apple ID акаунт.</li>
</ul>
<p>и</p>
<p>В зависимост от избора, който правите по време на влизане в нашите Услуги или по време на процеса на ангажиране на нашите Услуги, можете да изберете да предоставите следните допълнителни лични данни:</p>
<ul>
<li>вашето име;</li>
<li>имейл адрес;</li>
<li>мобилен номер;</li>
<li>Вашите данни за плащане, в случай че искате да използвате нашите платени услуги, както са дефинирани в <a href="https://help.CreITBuy.bg/hc/bg/sections/202515965"><strong>Условия за ползване</strong></a>, които в зависимост от използвания начин на плащане включват: данни за
<ul>
<li>вашата кредитна карта (име на притежателя на картата, дата на изтичане на картата, тип на кредитната карта и последните четири цифри от номера на вашата кредитна карта);</li>
<li>вашия мобилен номер;</li>
<li>Вашата електронна поща.</li>
</ul>
</li>
<li>данни относно проучвания, професионален опит, умения, снимки, предпочитания по отношение на желаната работа, както и всякаква друга информация, включена във вашето CV или представена директно от вашите работодатели чрез нашите Услуги, когато решите да ни предоставите тези данни чрез функцията „My CV "в настройките на акаунта на CreITBuy, за да кандидатствате за една от заданията, публикувани в раздела" Работа ".</li>
</ul>
<p><strong>Проверка на вашия CreITBuy акаунт </strong></p>
<p>Ние проверяваме акаунтите на потребители на CreITBuy, като използваме SMS потвърждение, за да гарантираме, че всеки акаунт е свързан с реален и уникален потребител. Този процес на валидиране започва, след като пристъпите към публикуване на първата си обява в нашите Услуги. За да потвърдите вашия CreITBuy акаунт, преди да публикувате вашата обява, ние ще ви изпратим SMS на валиден мобилен номер, предоставен от вас. Този процес е напълно безплатен.</p>
<p>Ако не сте съгласни да потвърдите своя акаунт, той ще остане активен и ще можете да използвате нашите услуги с ограничена функционалност. Тази ограничена функционалност на даден акаунт предполага, че не можете да публикувате нови рекламни обяви или да редактирате, актуализирате, популяризирате, разширявате, активирате, деактивирате или изтривате съществуващи рекламни списъци, докато акаунтът ви бъде потвърден чрез SMS. Също така няма да можете да получавате или отговаряте на съобщения от други потребители.</p>
<p>В случай, че създадете няколко CreITBuy акаунта, използващи един и същ мобилен номер и потвърдите всички тези акаунти чрез SMS потвърждение, всички такива акаунти ще имат ограничена функционалност и ще бъдете помолени да изберете един от тях. Избраният от вас акаунт ще се върне към пълната функционалност, а останалите акаунти ще останат с ограничена функционалност.</p>
<p>Всеки потребител може да поиска максимум 5 SMS съобщения с кодове за потвърждение в рамките на 24 часа. Валидирането на акаунта се извършва само веднъж за всеки акаунт, докато бъде успешно проверено чрез SMS от потребителя.</p>
<p>След като потвърдите своя CreITBuy акаунт, той ще остане свързан с мобилния номер, използван за SMS потвърждаване. Ако искате да промените мобилния номер, свързан с вашия CreITBuy акаунт, ще трябва да се свържете с нашия екип за поддръжка на клиенти, като използвате формата за <a href="https://help.CreITBuy.bg/hc/bg/requests/new?ticket_form_id=29631"><strong>контакт</strong></a>.</p>
<p><strong>Комуникация чрез функцията за чат в нашите Услуги</strong></p>
<p>Когато използвате нашата функция за чат за комуникация с други потребители, ние събираме и обработваме съдържанието и информацията, които решите да предоставите на други потребители чрез тази функция.</p>
<p><strong>Записване на телефонни разговори с нашите клиенти и екипи за продажби</strong></p>
<p>Когато се обадите или изберете да бъдете извикани от някой от нашите представители на клиентското обслужване или от екипа ни по продажбите, ние записваме разговора, при условие че изрично се съгласите, с цел подобряване на практиката ни за взаимодействие с клиентите.</p>
<p><strong>Аудио и видеозапис за конкретни проучвания за взаимодействие с клиентите</strong></p>
<p>Когато изрично се съгласите да участвате в проучвания за взаимодействие с клиентите, организирани от CreITBuy от време на време, ние ще запишем взаимодействието с нашия екип. За всяко проучване, организирано от CreITBuy, ние ще ви предоставим конкретна информация за това как обработваме вашите лични данни и целта, за която го правим.</p>
<p><strong>Участие в нашите потребителски проучвания</strong></p>
<p>Ние от време на време ще ви предоставяме нашите потребителски проучвания, за да измерим вашето цялостно удовлетворение от качеството на нашите услуги. За тази цел ще използваме само сесия (това е произволен идентификатор, който ви е присвоен, когато изтегляте нашето мобилно приложение или посещавате нашия уебсайт). Освен това можете да изберете да ни предоставите вашите данни за контакт, като имейл и мобилен номер, при наше искане да се свържем с вас и да ви поканим да присъствате на един от нашите тестове за потребителски опит (UX) или интервю с нашия екип. Моля, имайте предвид, че информацията, която ни предоставяте във връзка с нашите анкетни въпроси, може понякога да съдържа лични данни, доброволно предоставени от вас във вашите отговори.</p>
<p><strong>Рейтинг</strong><strong> и обратна връзка</strong></p>
<p>Ние събираме информация за &nbsp;рейтинга и оценките, които давате на други потребители в резултат &nbsp;взаимодействието с тях, но също така и за оценките, които получавате от други потребители, за да измерим удовлетвореността на потребителите по отношение на&nbsp; изживяването по повод на сключването на сделка и да осигурим оптимално и ефективно ниво на комуникация между потребителите, както и за проверка и предотвратяване на неподходящи действия и поведение в контекста на дейността, извършена във връзка с нашите услуги, тази информация ни позволява да предприемем необходимите и подходящи мерки за поддържане на високи стандарти при предоставянето на нашите услуги.</p>
<p><strong><em>2.1.2.&nbsp;&nbsp; Информация, която събираме автоматично, когато използвате нашите Услуги</em></strong></p>
<p>Когато използвате нашите Услуги, ние автоматично събираме следната информация за вас: Информация за</p>
<p><strong>устройството</strong></p>
<ul>
<li>Ние събираме специфична за устройството информация, като версия на операционната система, уникални идентификатори. Например името на мобилната мрежа, която използвате, вашият IP адрес, настройките на езика на вашето устройство, марка и тип устройство, операционна система и версия на устройството, тип и версия на браузъра и информация за специфичен софтуер за устройство, като например шрифтове, система и часова зона на браузъра, налични видео и аудио формати. Ако сте влезли в системата, ние свързваме идентификаторите на устройството с вашия CreITBuy акаунт.</li>
</ul>
<p><strong>Информация за местоположението</strong></p>
<ul>
<li>В зависимост от разрешенията на вашето устройство, ако публикувате елемент в нашите Услуги, ние автоматично събираме и обработваме информация за действителното ви местоположение. Използваме различни технологии за определяне на местоположението, включително IP адрес, GPS, Wi-Fi точки за достъп и мобилни кули. Данните за вашето местоположение ви позволяват да виждате потребителски елементи в близост до вас и ви помагат при публикуването на елементи във вашето местоположение. В случай, че се нуждаем от вашите данни за местоположението, първо ще ви покажем изскачащ прозорец, който ще ви помоли да изберете да разрешите или да не ни разрешите достъп до вашите данни за местоположение. Ако не ни разрешите достъп до вашите данни за местоположението, пак ще можете да използвате нашите Услуги, но с ограничена функционалност. Ако все пак ни разрешите достъп до вашите данни за местоположение, винаги можете да промените това по-късно, като отворите настройките на нашия уебсайт или мобилно приложение и деактивирате разрешенията, свързани с споделянето на местоположението. За да научите повече за целите на използването на данните за вашето местоположение и начина, по който се обработват тези данни, моля, направете справка с раздел 4.2 (ii) от настоящата Политика за поверителност.</li>
</ul>
<p><strong>Данни за клиент и дневник</strong></p>
<ul>
<li>Технически подробности, включително адреса на интернет протокола (IP) на вашето устройство, часова зона и операционна система. Също така ще съхраняваме вашата информация за вход (дата на регистрация, дата на последна промяна на паролата, дата на последно успешно влизане), тип и версия на вашия браузър.</li>
</ul>
<p><strong>Данни за потока от кликове</strong></p>
<ul>
<li>Ние събираме информация за вашата активност в нашите Услуги, която включва сайтовете, от които сте имали достъп до нашите Услуги, печат за дата и час на всяко посещение, извършени от вас търсения, рекламни списъци или рекламни банери, върху които сте кликнали, вашето взаимодействие с такива реклами или реклама списъци, продължителност на вашето посещение и реда, в който посещавате съдържанието в нашите услуги.</li>
</ul>
<p><strong>„Бисквитки“ и подобни технологии</strong></p>
<p>Използваме „бисквитки“, за да управляваме сесиите на нашите потребители, да съхраняваме избрания от вас език за предпочитания и да ви предоставяме подходящи реклами. „<strong>Бисквитките</strong>“ са малки текстови файлове, прехвърлени от уеб сървър на твърдия диск на вашето устройство. Бисквитките могат да се използват за събиране на датата и часа на вашето посещение, вашата история на сърфиране, вашите предпочитания и вашето потребителско име. Можете да настроите браузъра си да отказва всички или някои бисквитки или да ви предупреждава, когато уебсайтовете задават или осъществяват достъп до бисквитки. Ако деактивирате или откажете бисквитките, имайте предвид, че някои части от нашите услуги могат да станат недостъпни или да не функционират правилно. За повече информация относно бисквитките, които използваме, моля, вижте нашата <a href="https://help.CreITBuy.bg/hc/bg/articles/360000893129"><strong>Политика за бисквитки и подобни технологии</strong></a>. В <u>раздел 9</u> ще намерите повече информация за това как споделяме тази информация с доставчици на аналитични услуги и рекламни партньори.</p>
<p><strong><em>2.1.3.&nbsp;&nbsp; Данни от трети страни или от публично достъпни източници</em></strong></p>
<p>Ние получаваме лични данни за вас от различни трети страни и публични източници, които можем да комбинираме или да свържем с личните данни, които събираме от вас чрез нашите Услуги. По-специално, това включва следната информация:</p>
<ol>
<li>ако се регистрирате с помощта на вашия акаунт в Google: получаваме имейл адреса, свързан с вашия акаунт в Google (за да създадете вашия CreITBuy акаунт и да ви изпраща системни известия и маркетингови съобщения), вашият Google ID и пълния ви име (използвано като ваше потребителско име, когато използвате нашите Услуги) и URL адреса на вашата снимка на профила (за да създадете снимка на профила на вашия акаунт в CreITBuy);</li>
<li>Определена техническа информация и информация за използването от доставчици на анализ, като Google Analytics 360, за статистически цели и за анализ на използването на нашите Услуги, за подобряване на нашите Услуги и за онлайн маркетинг (повече за това в <a href="#2p2csry">Раздел 9</a>);</li>
<li>ако решите да съхранявате данните за вашата платежна карта при нас, ние получаваме следните данни, свързани с вашата карта, от нашите платежни партньори, като EPay: собствено и фамилно име, дата на изтичане на картата, последните четири цифри от номера на картата;</li>
<li>държавните органи ни предоставят потребителско име, телефонен номер и имейл, когато поискат от CreITBuy да извърши проверки или предоставят на тези органи повече данни в контекста на дейности за предотвратяване на измами.</li>
<li>рейтинг и обратна връзка: ако използвате в качеството си на продавач нашия Уебсайт, ние събираме и предоставяме информация за рейтинга и обратната връзка, които сте получили от други потребители, след взаимодействието ви с тях, в съответствие с нашите Общи условия. Това е част от нашите услуги, насочени към измерване на удовлетвореността на потребителите по отношение на изживяването им по повод на сключване на сделка и за осигуряване на оптимално и ефективно ниво на комуникация между потребителите, както и за проверка и предотвратяване на неподходящи действия и поведение в контекста на дейността, извършена на нашия Уебсайт, тази информация ни позволява да предприемем необходимите и подходящи мерки за поддържане на високи стандарти при предоставянето на нашите услуги.</li>
</ol>
<div><a name="r3"></a><strong>3. Събираме ли данни от непълнолетни?</strong></div>
<p>Нашите услуги не са предназначени за деца под 16 години и ние не събираме съзнателно данни от лица под 16 години. Ако разберем, че лице под 16 години ни е предоставило лични данни, ние ще ги изтрием незабавно.</p>
<div><a name="r4"></a><strong>4. Защо обработваме Ваша лична информация?</strong></div>
<p>Ние ще използваме вашите лични данни само когато законът ни позволява. Най-често ние ще използваме вашите лични данни при следните обстоятелства:</p>
<ul>
<li>Когато трябва да изпълним договора, който предстои да сключим или сме сключили с вас.</li>
<li>Където е необходимо за нашите законни интереси и ние вярваме, че нашите законни интереси не са заменени от вашите интереси или други субекти на данни или основни права и свободи, например за подобряване на нашите услуги и за да направим нашите услуги безопасни и сигурни.</li>
<li>Където трябва да се съобразим със законово или регулаторно задължение.</li>
</ul>
<p>При определени обстоятелства можем също да обработваме личните ви данни въз основа на вашето съгласие. Ако направим това, ще Ви уведомим целта и категорията лични данни, които ще бъдат обработвани в момента, в който искаме Вашето съгласие.</p>
<p>По-долу сме изложили описание на причините, поради които използваме вашите лични данни, и на коя от правните основи разчитаме, за да го направим. Също така установихме какви са законните ни интереси, когато е уместно.</p>
<p><strong>4.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; За предоставяне на достъп и предоставяне на услуги</strong></p>
<ol>
<li>Ако влезете с вашия мобилен номер или имейл идентификатор, ние използваме вашето име и фамилия, мобилен номер и / или имейл адрес, за да ви идентифицираме като потребител и да предоставим достъп до нашите услуги.</li>
<li>Ако влезете с вашия акаунт във Facebook или вашия акаунт в Google или вашия Apple ID акаунт, ние използваме вашето име и фамилия и вашия имейл адрес на такъв акаунт, както и URL адреса на вашата снимка на профила (с изключение на случаите, когато използвате Apple ID акаунт), за да ви идентифицираме като потребител на нашите услуги и да ви предоставим достъп до нашите Услуги. Горепосочените данни за вход също се използват от нас, за да Ви доставим нашите Услуги в съответствие с нашите <a href="https://help.CreITBuy.bg/hc/bg/sections/202515965"><strong>Условия за ползване</strong></a>.</li>
<li>Ние използваме доставчици на платежни услуги на трети страни, за да обработим всяко плащане, което правите за нашите Услуги. В зависимост от начина на плащане може да бъдете помолени да ни предоставите данните си за плащане и кредитна карта, които след това ще предоставим на доставчика на платежни услуги, за да обработи плащането ви. Ние не съхраняваме информацията за вашата кредитна карта, освен ако не изберете опцията за запазване на такава информация, за да улесните периодичните плащания, без да се налага да въвеждате отново данните си всеки път. В такива случаи съхраняваме само името на притежателя на вашата карта, датата на валидност на картата, типа на картата и последните четири цифри от номера на картата. Ние не съхраняваме никакви стойности за проверка на кода на кредитна карта и просто препращаме такива стойности и номера на вашата кредитна карта по криптиран начин с цел обработка на плащането ви от нашия доставчик на платежни услуги.</li>
<li>Ние съхраняваме вашите данни относно вашето обучение, професионален опит, умения, снимки, предпочитания по отношение на желаната работа, както и всякаква друга информация, включена във вашето CV или представена директно от вашите работодатели чрез Услугите, за да улесним вашата директна комуникация и предаване на такива данни на работодатели, които публикуват обяви за работа в категорията „Работа“. Правното основание на тази обработка е сключването и изпълнението на договора между CreITBuy и вас, съгласно който CreITBuy може да ви предоставя своите услуги по отношение на категорията „Работни места“.</li>
</ol>
<p>Ние обработваме горната информация за адекватно изпълнение на нашия договор с вас.</p>
<p><strong>4.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong><strong>За подобряване на вашия опит с нашите Услуги</strong></p>
<ol>
<li>Ние използваме данни за клик поток, за да:</li>
</ol>
<ul>
<li>ви предложим съобразено съдържание, като например да ви даде по-подходящи резултати от търсенето, когато използвате нашите услуги, за</li>
<li>да определите колко време прекарвате в нашите услуги и по какъв начин навигирате през нашите услуги за да разберете вашите интереси и да подобрите нашите Услуги въз основа на тези данни. Например можем да ви предоставим предложения за съдържание, което можете да посетите въз основа на съдържанието, върху което сте кликнали.</li>
</ul>
<ol>
<li>Ако решите да ни предоставите вашите данни за местоположението, ние използваме вашите данни за местоположението за следните цели: за</li>
</ol>
<ul>
<li>да компилираме анонимна и обобщена информация за характеристиките и поведението на потребители на CreITBuy, включително за целите на бизнес анализ, сегментиране и разработване на анонимни профили .</li>
<li>за подобряване на ефективността на нашите Услуги и за персонализиране на съдържанието, което насочваме към вас. Например - с помощта на данни за местоположението ние показваме рекламни списъци, които са в близост до вас, за да подобрим вашето изживяване при покупка. За тази цел услугата Google Maps е интегрирана в нашите Услуги. Google Maps се предоставя от нас и Google, действащи като независими контролери. Това означава, че както Google, така и ние сме отговорни за обработката на вашите данни за местоположението в контекста на Google Maps. Във всеки случай няма да обработваме данните ви за местоположение за други цели, освен тези, обяснени в тази политика за поверителност. Google обаче може да обработва такива данни за местоположението за свои цели, както е обяснено в Политиката за поверителност на Google, която може да бъде прегледана <a href="https://policies.google.com/privacy"><strong>тук</strong></a>. Използването на Google Maps чрез нашите Услуги е предмет на Google Maps <a href="https://maps.google.com/help/terms_maps/">Общите условия на</a>.</li>
</ul>
<ol>
<li>С помощта на информацията за връзка във вашия акаунт, която включва вашия имейл и мобилния ви номер, ние картографираме различните устройства (като настолни, мобилни, таблети), използвани от вас за достъп до нашите услуги. Това ни позволява да свързваме вашата дейност в нашите Услуги на различни устройства и ни помага да ви осигурим безпроблемно изживяване, независимо от това, което устройство използвате.</li>
<li>Използваме изображенията, които качвате, описанията и цените, които предоставяте в рекламните си списъци, за да обучим модели за машинно обучение за персонализиране на резултатите от търсенето във връзка с класирането на рекламите и интереса на потребителите, за подобряване на идентификацията и представянето на рекламни елементи, за подобряване на функцията за търсене и да се увеличи вероятността от успешна продажба. Това ни помага да подобрим нашите Услуги и да Ви осигурим по-добро потребителско изживяване.</li>
<li>За да показваме и препоръчваме списъци с реклами в нашите Услуги, които могат да представляват интерес за вас, ние използваме алгоритми, които използват информация, свързана с вашето поведение при сърфиране, закупени от вас елементи, данни за клик поток, вашия потребителски идентификатор и данни за вашето местоположение, ако сте ни дали разрешение за използване на това. Използваме тази форма на автоматизирано вземане на решения въз основа на законния ни интерес от подобряване на нашите Услуги и предоставяме по-добро потребителско изживяване, като ви предлагаме по-подходящи рекламни списъци.</li>
<li>Ние имаме достъп и анализираме вашите съобщения в чата с други потребители, проведени чрез функцията за чат в нашите Услуги за подобряване на продукта и за да ви осигурим по-добро потребителско изживяване (например за идентифициране на продадени артикули и само за предоставяне на активни рекламни списъци). Затова ние разработваме и обучаваме модели и алгоритми за машинно обучение, за да анализираме автоматично вашето съдържание в чата. За да създадат и обучат нашите модели за машинно обучение, нашите специалисти по машинно обучение могат да преглеждат примерно съдържание в чата ръчно. При тези обстоятелства силно ограничаващи права за достъп се прилагат за избрани специалисти по машинно обучение, анализиращи съдържанието на чата. По време на този процес на анализ деиндентифицираме съдържанието на чата, доколкото е възможно, като прилагаме сканиращ филтър за откриване и скриване на лични данни като имена, телефонни номера, имейл адреси. Все пак може да има случаи извън нашия контрол, в които съдържанието на чата може да показва определени лични данни, които сте избрали да предоставите.</li>
<li>Използвайки продължително вашата сесия (произволен идентификатор, който ви е присвоен, когато изтегляте нашето мобилно приложение или посещавате нашия уебсайт), от време на време ще ви предоставяме потребителски анкети, предназначени да определят вашето удовлетворение от качеството на нашите услуги. Когато ви предоставяме анкета, ние също може да поискаме вашия имейл или мобилен номер, за да се свържем и да ви поканим да присъствате на един от нашите тестове за потребителски опит (UX) или интервю с нашия екип.</li>
<li>За да измерим удовлетвореността на потребителите по отношение на тяхното &nbsp;&nbsp;преживяване по повод сключването на сделка и за да осигурим оптимално и ефективно ниво на комуникация между потребителите, както и да проверим и предотвратим неподходящи действия и поведение в контекста на дейността, извършвана на нашия Уебсайт, ние събираме информация за рейтинга &nbsp;и обратната връзка, обменени между потребителите на нашия Уебсайт, тази информация ни позволява да предприемем необходимите и подходящи мерки за поддържане на високи стандарти при предоставянето на нашите Услуги.</li>
</ol>
<p>Ние обработваме горната информация за адекватно изпълнение на нашия договор с вас и въз основа на нашия законен интерес да подобрим вашия опит с нашите услуги.</p>
<p><strong>4.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; За да ви предоставим безопасни и сигурни услуги</strong></p>
<ol>
<li>Ние използваме вашия мобилен номер, данни от регистрационния файл и уникални идентификатори на устройства, за да администрираме и защитим нашите услуги (включително отстраняване на неизправности, анализ на данни, тестване, предотвратяване на измами, поддръжка на системата, поддръжка, докладване и хостинг на данни).</li>
<li>Ние осъществяваме достъп и анализираме вашите съобщения в чата с други потребители, проведени чрез функцията за чат в нашите Услуги за удовлетвореност на клиентите, безопасност и за предотвратяване на измами (например за блокиране на спам или обидни съобщения, които може да са били изпратени до вас от други потребители). Ето защо ние разработваме и обучаваме модели и алгоритми за машинно обучение, които ни помагат автоматично да откриваме и предотвратяваме неподходящо и измамно поведение на потребителя. По време на процеса на анализ и обучение ние деиндентифицираме съдържанието на чата, доколкото е възможно, като анонимизираме уникалните идентификационни стойности, присвоени на потребителите. Все пак може да има случаи извън нашия контрол, в които съдържанието на чата може да показва определени лични данни, които сте избрали да предоставите. Само в ограничени случаи и обстоятелства нашите специалисти по безопасност и сигурност на клиентите преглеждат ръчно съдържанието на чата, например ако имаме сериозни индикации, водещи до спешно подозрение за измамни дейности. При тези обстоятелства силно ограничителните права за достъп се прилагат за избрани специалисти по безопасност и сигурност на клиентите, анализиращи съдържанието на чата.</li>
<li>За да предотвратим и открием измами с нашите Услуги, ние използваме алгоритми, които разпознават подозрително или измамно поведение на потребителя въз основа на определена информация като активност на потребителите и публикувано съдържание, което може да доведе до забрана на определени потребителски акаунти. Автоматичното забраняване се случва, когато има много висока степен на сигурност, че даден акаунт или действие е измамно. В противен случай прегледът на човека се извършва от избрани специалисти по безопасност и сигурност на клиентите въз основа на силно ограничителни права за достъп. Използваме тази форма на автоматизирано вземане на решения въз основа на законния ни интерес за откриване и предотвратяване на измами и за поддържане на нашите Услуги в безопасност и сигурност за нашите потребители. Ако смятате, че акаунтът ви е бил неправомерно забранен, можете да се свържете с нас чрез нашата <a href="https://help.CreITBuy.bg/hc/bg/requests/new?ticket_form_id=29631"><strong>форма за контакт</strong></a> в този случай нашият екип ще прегледа решението за забрана на вашия акаунт.</li>
<li>Ние събираме определена информация от и във връзка с електронното устройство, от което имате достъп до нашите Услуги въз основа на законния ни интерес за предотвратяване на измами с нашите Услуги. Информацията, която събираме, включва вашия потребителски идентификатор (в зависимост от това дали сте влезли в системата), CreITBuy домейн на държавата, IP адрес, настройки на езика на устройството, марка и тип устройство, операционна система и версия на устройството, тип и версия на браузъра и информация за специфичен софтуер за устройството като шрифтове, часова зона на системата и браузъра, налични видео и аудио формати. Информацията, свързана с устройството, се използва, за да се определи дали същото устройство се използва, когато потребителите взаимодействат с нашите Услуги. Свързваме такава информация с оценка на измама на потребителя, въз основа на която можем да забраним определени потребители. За повече информация относно това, моля, обърнете се към нашата <a href="https://help.CreITBuy.bg/hc/bg/articles/360000893129"><strong>Политика за бисквитки и подобни технологии</strong></a><strong><u>. </u></strong>Ако смятате, че акаунтът ви е бил неправомерно забранен, можете да се свържете с нас чрез нашата <a href="https://help.CreITBuy.bg/hc/bg/requests/new?ticket_form_id=29631"><strong>форма за контакт</strong></a> в този случай нашият екип ще прегледа решението за забрана на вашия акаунт.</li>
</ol>
<p>Ние обработваме горната информация за адекватно изпълнение на нашия договор с вас и въз основа на законния ни интерес за предотвратяване на измами и за подобряване на цялостното качество и ефективност на нашите Услуги.</p>
<p><strong>4.4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong><strong>За да ви популяризираме и предлагаме услуги, които могат да ви представляват интерес</strong></p>
<ol>
<li>Ние използваме вашия имейл адрес и мобилен номер (чрез SMS или Viber), за да ви правим предложения и препоръки относно нашите услуги, които могат да ви интересуват.</li>
<li>За да Ви изпращаме съобщения по имейл, за да Ви правим предложения и препоръки относно списъци с реклами или относно нашите Услуги, ние използваме алгоритми, които използват информация въз основа на Вашите данни за клик. Винаги ще ви предоставяме възможността да се откажете от такива комуникации, като включите връзка за отписване. Ние използваме тази форма на автоматизирано вземане на решения въз основа на законния ни интерес от подобряване на нашите Услуги, увеличаване на броя на транзакциите в нашите Услуги и осигуряване на по-добро потребителско изживяване, като Ви предлагаме по-подходящи рекламни списъци.</li>
<li>Използваме данни за клик поток, за да наблюдаваме и отчитаме ефективността на доставката на кампанията пред нашите бизнес партньори и за вътрешен бизнес анализ.</li>
<li>Ако решите да ни предоставите вашите данни за местоположението, ние можем да използваме вашите данни за местоположение за измерване и наблюдение на вашето взаимодействие с рекламни банери на трети страни, които поставяме в нашите услуги.</li>
</ol>
<p>Ние обработваме горната информация въз основа на законния ни интерес от предприемане на маркетингови дейности, за да ви предложим Услуги, които може да са от ваш интерес. По-конкретно, можете да получите определени маркетингови съобщения от нас:</p>
<ul>
<li>чрез всяко предпочитано средство за комуникация, ако сте поискали такава информация от нас;</li>
<li>по имейл, относно подобни продукти и услуги, ако вече използвате нашите Услуги или сте придобили някои от нашите продукти;</li>
<li>по телефон или имейл, ако сте ни предоставили своите данни, когато сте участвали в състезание; или</li>
<li>по телефон или имейл, ако сте се регистрирали за промоция.</li>
</ul>
<p>Можете да поискате от нас да спрем да ви изпращаме такава маркетингова комуникация по всяко време, като щракнете върху връзката за отказ в имейла, изпратен до вас, или като промените настройките за известяване в акаунта си.</p>
<p>В други случаи, освен споменатите по-горе, ние ще използваме вашия имейл и мобилен номер само за да ви изпращаме директни маркетингови комуникации (чрез имейл, push известия, SMS / Viber или телефонни обаждания), ако сте ни дали съгласието си да го направите от поставяне на отметка в съответното поле при регистрация в нашите Услуги. Винаги можете да промените решението си и да оттеглите съгласието си в настройките за известяване на вашия CreITBuy акаунт.</p>
<p>В случай, че имате проблеми с промяната на настройките си за известия, моля свържете се с нас чрез нашата <a href="https://help.CreITBuy.bg/hc/bg/requests/new?ticket_form_id=29631"><strong>форма за контакт</strong></a>.</p>
<p><strong>4.5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; За да ви предоставим качествена услуга за поддръжка на клиенти</strong></p>
<ol>
<li>Ние записваме вашите телефонни разговори с членовете на екипа за поддръжка на клиенти или членовете на екипа по продажбите, само при ваше изрично съгласие;</li>
<li>Ако се съгласите да участвате в проучвания за взаимодействие с клиенти, организирани от CreITBuy от време на време, ние ще заснемем вашето взаимодействие с нашия екип, за да подобрим нашите Услуги.</li>
</ol>
<p>Ние обработваме горните лични данни, за да анализираме допълнително вашето взаимодействие с нашия екип за връзка с клиенти или членове на екипа по продажбите (според случая) и да подобрим начина, по който членовете на нашия екип обслужват потребителите.</p>
<div><a name="r5"></a><strong>5. Обработване на данни като част от CreITBuy Портал за програмисти/разработчици</strong></div>
<p>CreITBuy Developer Portal CreITBuy Developer Portal е инструмент, адресиран до физически или юридически лица, които биха искали да публикуват своите реклами в нашите Услуги.</p>
<p>За да предоставим услуги на CreITBuy API като част от портала за разработчици CreITBuy, ние обработваме личните данни на нашите потребители, които са разработчици на софтуер или индивидуални изпълнители / служители на такива разработчици (наричани общо „<strong>Разработчик</strong>“ или „<strong>Разработчици</strong>“). За тази конкретна услуга обработваме: името, името и фамилията на лицето за връзка с разработчика, както и съответния телефонен номер.</p>
<p>Използването на CreITBuy API услуги изисква активиране с данните за акаунта CreITBuy. Всеки път, когато ново приложение („<strong>Приложението</strong>“) е добавено от разработчик, е необходимо да попълните специален формуляр и да ни предоставите допълнителна информация, свързана със заявлението и лице за контакт, в съответствие с разпоредбите на <a href="https://developer.CreITBuy.bg/doc/regulations.bg.pdf?v23">Общи условия на портала за разработчици на CreITBuy</a>. Предоставянето на данните, изисквани във формуляра, е чисто доброволно, но въпреки това е необходимо да се използва услугата CreITBuy API. Като част от използването на услугите на CreITBuy API, ние също обработваме данни за дейността на разработчиците като част от уебсайта на CreITBuy.</p>
<p>Ние обработваме горната информация за правилното изпълнение на договора, който сте сключили с нас, подобрявайки нашите Услуги и въз основа на предпоставката за нашия законен интерес за предотвратяване на измами или злоупотреби.</p>
<p>CreITBuy не носи отговорност за законосъобразността на обработката на личните данни на потребителите като част от приложението, добавено от разработчика. Задължението за предоставяне на надеждна информация относно правилата за използване на Приложението, политиката за сигурност и друга информация, изисквана от приложимото законодателство, по-специално разпоредбите за защита на личните данни, е на всеки разработчик. CreITBuy прави задължително разработчиците да актуализират и поддържат Приложението, по-специално за да гарантират сигурността на данните на потребителите, обработвани чрез него.</p>
<p>За да упражни правата си съгласно разпоредбите за защита на личните данни, всеки потребител, който използва Приложението, трябва да се свърже директно с Разработчика или с лицето, посочено в съответния документ, описващо правилата за използване на конкретното Приложение.</p>
<div><a name="r6"></a><strong>6. Как Ви информираме за промени в Декларацията за поверителност?</strong></div>
<p>&nbsp;</p>
<p>Може да изменяме и актуализираме тази политика за поверителност отвреме навреме. Ние ще Ви уведомим за съществени промени в настоящата политика за поверителност, според случая и според изискванията на приложимите закони, например чрез пускане на забележително известие в рамките на нашите Услуги или изпращане на съобщение чрез нашите Услуги или изпращане на имейл. Ако не сте съгласни с начина, по който обработваме вашите лични данни, и с избора, който ви предоставяме, можете да затворите акаунта си по всяко време, като влезете в настройките на акаунта си и изберете да изтриете акаунта.</p>
<div><a name="r7"></a><strong>7. Вашите права</strong></div>
<p>&nbsp;</p>
<p>При определени обстоятелства имате права съгласно законите за защита на данните във връзка с личните си данни. Ако желаете да упражните някое от правата, посочени по-долу, моля, отидете в акаунта / настройките за поверителност или се свържете с нас, използвайки нашите <a href="https://help.CreITBuy.bg/hc/bg/requests/new?ticket_form_id=29631"><strong>Помощен център</strong></a>:</p>
<ul>
<li><strong>Право да поискате достъп</strong> до личните си данни (известен като „искане за достъп на субект на данни“). Това ви позволява да получите копие от личните данни, които съхраняваме за вас, и да проверите дали ги обработваме законно.</li>
<li><strong>Право да поискаме корекция </strong>на която и да е от данните, които имаме за вас. Това ви позволява да коригирате непълни или неточни данни, които съхраняваме за вас, въпреки че може да се наложи да проверим точността на новите данни, които ни предоставяте.</li>
<li><strong>Право да поискате ограничаване на обработката </strong>на вашите лични данни. Това ви позволява да поискате от нас да спрем обработката на вашите лични данни в следните сценарии: (а) ако искате да установим точността на данните; (б) когато използването от нас на данни е незаконно; (в) когато имате нужда от нас да съхраняваме данните, дори ако ние вече не се нуждаем от тях, тъй като имате нужда от тях за установяване, упражняване или защита на правни претенции; или (г) сте възразили срещу използването от нас на вашите данни, но ние трябва да проверим дали имаме императивни законни основания да ги използваме.</li>
<li><strong>Право да поискате изтриване </strong>на личните Ви данни. Това ви позволява да поискате от нас да изтрием или премахнем лични данни, когато няма основателна причина да продължим да ги обработваме. Също така имате право да поискате от нас да изтрием или премахнем вашите лични данни там, където успешно сте упражнили правото си да възразите срещу обработката (вижте по-долу), където може да сме обработили информацията ви незаконно или където се изисква да изтрием вашите лични данни, за да спазвайте местното законодателство. Моля, имайте предвид, че за определени цели може да сме законово задължени да съхраняваме вашите данни. Моля, вижте също раздел 11.</li>
<li><strong>Право да възразите</strong> срещу обработването на вашите лични данни, когато разчитаме на легитимен интерес (или тези на трета страна) и има нещо във вашата конкретна ситуация, което ви кара да искате да възразите срещу обработването по този въпрос земята, тъй като чувствате, че това влияе върху вашите основни права и свободи. В някои случаи можем да докажем, че имаме убедителни законни основания да обработваме вашата информация, която заменя вашите права и свободи. Също така имате право да възразите, когато обработваме вашите лични данни за целите на директния маркетинг. Можете да упражните правото си на възражение по следните начини, в зависимост от дейността по обработка, която искате да прекратим:
<ul>
<li>за маркетингови имейли кликнете върху връзката за отписване в нашите имейли;</li>
<li>за маркетинг на SMS / Viber, push известия или телефонни обаждания, променете настройките си за известяване в акаунта си, за да се откажете;</li>
<li>за бисквитки щракнете върху „отказ“ в нашата платформа за управление на съгласието и</li>
<li>за всяко възражение срещу обработката на вашите данни като цяло можете да се свържете с нас чрез <a href="https://help.CreITBuy.bg/hc/bg/requests/new?ticket_form_id=29631"><strong>Форма за контакт</strong></a>.</li>
</ul>
</li>
<li><strong>Право да поискате прехвърляне </strong>на личните ви данни на вас или на трета страна. Ние ще предоставим на вас или на трета страна, която сте избрали, вашите лични данни в структуриран, често използван, машинно четим формат. Имайте предвид, че това право се прилага само за автоматизирана информация, която първоначално сте предоставили съгласието си да използваме или където ние сме използвали информацията, за да изпълним договор с вас.</li>
<li><strong>Право да оттеглите съгласието си за обработката на личните Ви данни по всяко време. Това не засяга законността на която и да е обработка, която вече сме извършили въз основа на предварително дадено съгласие.</strong></li>
</ul>
<p><strong>Обикновено не се изисква такса: </strong>Няма да се налага да плащате такса за достъп до личните си данни (или за упражняване на някое от другите права). Възможно е обаче да начислим разумна такса, ако заявката ви е явно необоснована, повтаряща се или прекомерна. Като алтернатива можем да откажем да изпълним вашето искане при тези обстоятелства.</p>
<p><strong>Срок за отговор: </strong>Опитваме се да отговорим на всички законни искания в рамките на един месец. Понякога може да ни отнеме повече от месец, ако заявката ви е особено сложна или сте направили няколко искания. В този случай ще ви уведомим и ще ви държим в течение.</p>
<p>Освен това имате право да подадете жалба по всяко време до отговорния за Вас орган за защита на данните, както е посочено в раздел <a href="https://docs.google.com/document/d/194IVlmS8Pkc-aGiuzu8Gd1Pey-Uyn_dYY71I2PvQ-1E/edit#heading=h.49x2ik5">13</a>.</p>
<p>Въпреки това, преди да подадете жалба до органа за защита на данните, ние бихме оценили възможността да се справим с вашите притеснения на първо място, моля, обърнете се към нашия Бюро за поверителност, използвайки нашия <a href="https://help.CreITBuy.bg/hc/bg/requests/new?ticket_form_id=29631"><strong>формуляр за контакт</strong></a>.</p>
<div><a name="r8"></a><strong>8. Комуникации и маркетинг</strong></div>
<p>&nbsp;</p>
<p><span>Ние ще комуникираме с вас по имейл, SMS или в известие за приложение във връзка с нашите Услуги, за да потвърдим вашия акаунт при нас, за да ви информираме в случай, че вашата обява е станала активна / изтекла и за други транзакционни съобщения във връзка с нашите услуги. Тъй като е наложително за нас да ви предоставяме такива транзакционни съобщения, може да не успеете да се откажете от такива съобщения.</span></p>
<div><a name="r9"></a><strong>9. С кого споделяме Вашите данни?&nbsp;</strong></div>
<p>&nbsp;</p>
<p>Може да се наложи да споделим вашите лични данни със страните, посочени по-долу, за целите, посочени в <a href="https://docs.google.com/document/d/194IVlmS8Pkc-aGiuzu8Gd1Pey-Uyn_dYY71I2PvQ-1E/edit#heading=h.147n2zr">раздел 4</a> по-горе.</p>
<p><strong>Доставчици на услуги на </strong>трети страни: Ние използваме доставчици на услуги на трети страни, за да ни помогнат да предоставим определени аспекти на нашите Услуги и да поддържаме и наблюдаваме нашите Услуги. В този контекст вашите лични данни могат да се споделят със следните получатели или категории получатели:</p>
<ul>
<li>доставчици на платежни услуги, като EPay или PayPal, може да получи вашите лични данни за целите на обработването на плащания, които искате да направите чрез нашите Услуги; за извършване на плащания във връзка с нашите услуги, независимо дали става въпрос за плащане с карта или плащане с платежно нареждане, използваме EPay АД, регистрирано в Република България със седалище и адрес на управление София 1000, ул. „Иван Вазов” 16, регистрирано в Търговския регистрирайте се под ЕИК 131409398 ("<strong>EPay</strong>"), мандат на CreITBuy процесор за извършване на тези операции в съответствие с българското законодателство. Можете да научите повече за това как работим с EPay за обработка на плащания в раздел 11 от <a href="https://ajutor.CreITBuy.ro/hc/ro/articles/360000011300">Общите условия</a>. Също така използваме PayPal (Europe) S.à.rl, et Cie, SCA, 22-24 Boulevard Royal L-2449, Люксембург („<strong>PayPal</strong>“), която работи съгласно следните <a href="https://www.paypal.com/uk/webapps/mpp/ua/useragreement-full">Общи условия</a>;</li>
<li>доставчици на облачни услуги, като <a href="https://aws.amazon.com/privacy/">Amazon Web Services, Inc.</a> (AWS), <a href="https://policies.google.com/privacy">Google Ireland Limited</a> (Google Cloud), <a href="https://azure.microsoft.com/">Microsoft Corporation</a> (Microsoft Azure), който може да получи някои от личните ви данни с цел съхранение в облак;</li>
<li>интегрирани доставчици на инструменти на трети страни, като <a href="https://policies.google.com/privacy">Google Ireland Limited</a> (Google Maps), които могат да получат вашите данни за местоположение с цел подобряване на ефективността на нашите Услуги и за персонализиране на съдържанието, което ви насочваме;</li>
<li>доставчици на инструменти за поддръжка на клиенти, като <a href="https://www.zendesk.com/company/privacy-and-data-protection/">Zendesk, Inc.</a>, които могат да получат някои от вашите данни, като например подробности за потребителския акаунт, заявки за обслужване на клиенти, съдържание на съобщения, с цел комуникация и подкрепа на нашите клиенти;</li>
<li>доставчици на инструменти за управление на взаимоотношения с клиенти, като <a href="https://www.salesforce.com/company/privacy/">SFDC Ireland Limited</a> (Salesforce), който може да получи някои от вашите данни, като например данни за потребителски акаунт, данни за контакт с потенциални клиенти за продажба с цел обработка от нашите екипи по продажби;</li>
<li>доставчици на маркетингови комуникационни услуги, като <a href="http://www.thesmarts.eu/">The Smarts</a> или <a href="https://www.rtbhouse.com/">RTB House</a>, които могат да получат някои от вашите данни с цел организиране и провеждане на маркетингови комуникационни кампании.</li>
</ul>
<p>Тези доставчици на услуги на трети страни могат да се намират във или извън ЕИП.</p>
<p>Ние извършваме проверки на нашите доставчици на трети страни и изискваме от тях да зачитат сигурността на вашите лични данни и да ги третират в съответствие със закона. Ние не им позволяваме да използват вашите лични данни за собствени цели и им позволяваме само да обработват вашите лични данни за определени цели и в съответствие с нашите инструкции.</p>
<p><strong>Доставчици на реклама и анализ:</strong> За да подобрим нашите Услуги, понякога ще споделяме вашата информация с доставчици на анализи, като Google Analytics 360, които (i) ни помагат да анализираме как хората използват нашите Услуги, за да подобрим нашите Услуги и ( ii) да ни помага в онлайн маркетинга и рекламирането въз основа на интереси. В по-голямата си част споделяме вашата информация с тях в неидентифицирана форма за наблюдение и докладване на ефективността на доставката на кампанията на нашите бизнес партньори и за вътрешен бизнес анализ. Тази информация обикновено включва идентификатор на бисквитка, (съкратен) IP адрес, URL адрес на препратката, както и информация за браузъра и устройството. Чрез анализа на Вашето поведение при сърфиране в нашите Услуги чрез бисквитки с помощта на доставчици на анализ, ние сме в състояние да разберем по-добре използването на нашите Услуги и да подобрим нашия продукт и ще можем да Ви покажем по-подходящи CreITBuy реклами, когато посетите други уебсайтове. За рекламни цели ние си партнираме с доставчици на реклама, които са организирани от Бюрото за интерактивна реклама (IAB) и са изброени тук: <a href="https://iabeurope.eu/vendor-list/">https://iabeurope.eu/vendor-list/</a>. Можем да споделим с нашите рекламни партньори вашия идентификатор на бисквитки (бисквитки на първа и трета страна), който ни позволява да ви показваме по-подходящи реклами на трети страни в нашите услуги въз основа на вашето поведение при сърфиране извън нашите услуги. За да контролирате и управлявате настройките за реклами, можете да получите достъп до настройките чрез връзка в долния колонтитул на нашия уебсайт. За повече подробности относно нашите рекламодатели и доставчици на анализ, моля, вижте нашата <a href="https://help.CreITBuy.bg/hc/bg/articles/360000893129"><strong>Политика за бисквитки и подобни технологии</strong></a>.</p>
<p><strong>Компании от групата CreITBuy:</strong> Понякога ще споделяме вашата информация с други „<strong>компании на групата CreITBuy</strong>“, което означава юридически лица или дъщерни дружества, пряко или косвено контролирани от CreITBuy Global BV, където CreITBuy Global BV притежава повече от 50% от правата на глас или има право на контролирайте обекта (изцяло „<strong>CreITBuy Group</strong>“). Групата CreITBuy се състои от предприятия и дъщерни дружества по целия свят. Много от тези дъщерни дружества ви предоставят голямо разнообразие от услуги за малки обяви в много различни страни. Можете да видите всички наши марки за реклами, под които предоставяме услугите си на <a href="https://www.CreITBuygroup.com/brands">https://www.CreITBuygroup.com/brands</a>. За определени бизнес операции ние използваме нашия глобален опит, като използваме споделени ресурси в различните дъщерни дружества, за да ви предоставим възможно най-добрите услуги, включително подобрения на продукти, поддръжка на клиенти, сигурност и безопасност и дейности за бизнес разузнаване. Това означава, че може да се наложи да споделим вашите лични данни в рамките на компаниите от групата CreITBuy, които се намират както в рамките на Европейското икономическо пространство, така и извън него („<strong>ЕИП</strong>“).</p>
<p>Всяко споделяне на лични данни между компаниите от групата CreITBuy винаги ще бъде обект на предпазни мерки, както е описано в <u>раздел </u><a href="https://docs.google.com/document/d/194IVlmS8Pkc-aGiuzu8Gd1Pey-Uyn_dYY71I2PvQ-1E/edit#heading=h.3o7alnk">10,</a> което сме показали във вътрешно споразумение за трансфер на данни между всички компании на CreITBuy Group. Такова споразумение ясно дефинира правата и задълженията на всички компании от групата CreITBuy да осигурят подходящи технически и организационни мерки за защита на вашите лични данни.</p>
<p><strong>Сливания и придобивания:</strong> Ако (част от) нашия бизнес или нашите активи бъдат реорганизирани, продадени, прехвърлени или обединени с друг бизнес, вашите лични данни ще бъдат разкрити и прехвърлени на новите собственици на бизнеса. В такива случаи ще предприемем всички действия, изисквани от закона, които могат да включват да Ви уведомим и да Ви предоставим избор дали искате да продължите да използвате нашите Услуги.</p>
<p><strong>Правоприлагащи органи, регулаторни органи и други:</strong> Можем да разкрием вашите лични данни на правоприлагащите органи, регулаторните органи, държавните или публичните органи и други съответни трети страни, за да се съобразят с каквито и да е законови или регулаторни изисквания.</p>
<p><strong>Публично достъпна информация</strong>: Когато публикувате артикул за продажба, като използвате нашия Уебсайт, можете да изберете да направите определена лична информация видима за други потребители на CreITBuy. Това може да включва Вашето име, фамилия, Вашия имейл адрес, Вашето местоположение и Вашия номер за контакт. Част от информацията като Вашия рейтинг и обратна връзка, получени от други потребители, може автоматично да бъде разкрита публично при публикуване на обява. Също така правим Вашия рейтинг и обратна връзка, заедно с потребителското Ви име, публични за потребителите, които сте оценили. Моля, обърнете внимание, че всяка информация, която предоставяте на други потребители, винаги може да бъде споделяна от тях с други, така че молим да правите нужната преценка в това отношение..</p>
<p><strong>Клиенти, юридически лица, действащи на нашите Услуги като работодатели</strong>: да Ви предоставим нашите услуги, свързани с категорията "Работа" и да улесним изпращането на Вашето CV директно чрез нашите Услуги, когато искате да кандидатствате за работа, публикувана в CreITBuy Jobs, ние ще изпратим на работодателите данните относно проучванията, професионалния опит, уменията, снимките, предпочитанията по отношение на желаната работа, както и всякаква друга информация, включена във вашето CV или представена директно от вас на работодателите чрез използване на нашите Услуги.</p>
<div><a name="r10"></a><strong>10. Международни трансфери</strong></div>
<p>Всеки път, когато прехвърляме вашите лични данни извън ЕИП, ние гарантираме, че му се предоставя подобна степен на защита, като гарантираме, че е приложена поне една от следните предпазни мерки:</p>
<ul>
<li>Ние ще прехвърляме лични данни само в държави, които са били счита, че предлага адекватно ниво на защита на личните данни от Европейската комисия. За повече подробности вижте <a href="https://ec.europa.eu/info/law/law-topic/data-protection/data-transfers-outside-eu/adequacy-protection-personal-data-non-eu-countries_en"><em>Европейска комисия: Адекватност на защитата на личните данни в страни извън ЕС</em></a>.</li>
<li>Когато използваме определени доставчици на услуги, можем да използваме конкретни договори, одобрени от Европейската комисия, които дават на личните данни същата защита, каквато имат в Европа. За повече подробности вижте <a href="https://ec.europa.eu/info/strategy/justice-and-fundamental-rights/data-protection/data-transfers-outside-eu/model-contracts-transfer-personal-data-third-countries_en"><em>Европейска комисия: Образци на договори за трансфер на лични данни към трети държави</em></a>.</li>
</ul>
<p>Можете да получите копие на съответните и изпълнени мерки за защита, като се свържете с нас чрез <a href="https://help.CreITBuy.bg/hc/bg/requests/new?ticket_form_id=29631"><strong>формуляр за контакт</strong></a>.</p>
<div><a name="r11"></a><strong>11. Къде съхраняваме Вашите данни и&nbsp;за какъв период от време?</strong><a class="fright xx-small" href="#top">top</a></div>
<p>Данните, които събираме за вас, ще се съхраняват и обработват както в рамките на ЕИП, така и в защитени сървъри, за да осигурят възможно най-доброто потребителско изживяване, например за бързо изграждане на уебсайт или мобилно приложение. Данните на потребителите на CreITBuy в ЕИП се съхраняват на облачни сървъри, предоставени от Amazon Web Services, Inc., които се намират в Дъблин, Ирландия.</p>
<p>Ние ще запазим вашите лични данни само толкова дълго, колкото е необходимо, за да изпълним целите, за които сме ги събрали, включително за целите на удовлетворяване на всички законови, данъчни и счетоводни или отчетни изисквания.</p>
<p>За да определим подходящия период на съхранение на личните данни, ние вземаме предвид количеството, естеството и чувствителността на личните данни, потенциалния риск от вреда от неразрешено използване или разкриване на личните ви данни, целите, за които обработваме вашите лични данни и дали можем да постигнем тези цели чрез други средства и приложимите законови изисквания.</p>
<p>Ние съхраняваме личните данни, свързани с вашия акаунт, докато сте регистриран потребител или докато не изтриете акаунта си, като в този случай ще гарантираме, че вашите данни се изтриват без ненужно забавяне и възможно най-скоро, когато това е технически осъществимо. В зависимост от Услугата, която сте използвали, и системите, в които се съхраняват вашите данни, изтриването на вашите данни може да отнеме максимум 3 месеца от датата на вашата заявка. През този период целият достъп до вашите данни ще бъде ограничен или блокиран незабавно.</p>
<p>Ако във вашия акаунт не е имало активност за период по-дълъг от 24 месеца, ние затваряме вашия акаунт в съответствие с нашия <a href="https://help.CreITBuy.bg/hc/bg/sections/202515965"><strong>Условия за ползване</strong></a> и изтрийте всички лични данни, съхранявани във вашия акаунт, което означава, че вече няма да имате достъп и да ги използвате. Ние обаче няма да затворим вашия акаунт и да изтрием вашите данни, ако имате някакви отворени транзакции в очакване или имате право на погасяване на средства, кредитирани по Вашата сметка, или от Вас или от нас. Преди да затворите акаунта си, ще ви уведомим, за да ви дадем шанс да поддържате акаунта си активен, например като влезете в акаунта си.</p>
<p>След като акаунтът ви бъде затворен, ние можем да запазим определени данни дотолкова, доколкото това е необходимо (i) за изпълнение на нашите правни задължения, например за данъчни, счетоводни и одиторски цели, или (ii) за уреждане на правен иск или спор или за спазване на искане на власт (например във връзка с правоприлагането). Ние ще запазим само данните, които са от значение за такива цели и ще ги изтрием, след като приложимите срокове за съхранение или давност са изтекли или след като съответната законова цел бъде изпълнена.</p>
<p>За целите на безопасността и сигурността на клиентите и предотвратяването на измами можем да съхраняваме определени данни, свързани с вашия затворен акаунт, като вашите рекламни списъци, вашия IP адрес, информация за модериране и информация за потребителския опит, за максимален период от 14 месеца след затварянето.</p>
<p>Личните данни, свързани с бисквитките, се съхраняват за периода, съответстващ на жизнения цикъл на типа бисквитки, или до изтриването от вас. Можете да прочетете повече за това в нашия <a href="https://help.CreITBuy.bg/hc/bg/articles/360000893129"><strong>Политика относно бисквитките и подобни технологии</strong></a><strong>.</strong></p>
<p>Ако имате някакви въпроси относно периода на съхранение на вашите данни, моля, свържете се с нас чрез <a href="https://help.CreITBuy.bg/hc/bg/requests/new?ticket_form_id=29631"><strong>формуляр за контакт</strong></a><strong>.</strong></p>
<div><a name="r12"></a><strong>12. Технически и организационни мерки&nbsp;за&nbsp;сигурност при обработката</strong></div>
<p><span>Цялата информация, която получаваме за вас, се съхранява на защитени сървъри и ние сме внедрили технически и организационни мерки, които са подходящи и необходими за защита на вашите лични данни. CreITBuy непрекъснато оценява сигурността на своята мрежа и адекватността на вътрешната си програма за защита на информацията, която е предназначена да (а) спомогне за защитата на вашите данни срещу случайна или незаконна загуба, достъп или разкриване, (б) идентифициране на разумно предвидими рискове за сигурността на CreITBuy в) минимизиране на рисковете за сигурността, включително чрез оценка на риска и редовно тестване. Освен това гарантираме, че всички данни за плащане са криптирани с помощта на SSL технология.</span></p>
<p>&nbsp;</p>
<p><span>Моля, обърнете внимание, въпреки мерките, които сме предприели за защита на вашите данни, прехвърлянето на данни през интернет или други отворени мрежи никога не е напълно сигурно и съществува риск вашите лични данни да бъдат достъпни от неоторизирани трети страни.</span></p>
<div><a name="r13"></a><strong>13. Линкове, насочващи към сайтове&nbsp;на трети страни</strong></div>
<p>&nbsp;</p>
<p><span>Нашите услуги могат да съдържат връзки към уебсайтове или приложения на трети страни. Ако кликнете върху някоя от тези връзки, моля, имайте предвид, че всяка от тях ще има своя собствена политика за поверителност. Ние не контролираме тези уебсайтове / приложения и не носим отговорност за тези политики. Когато напускате нашите Услуги, ви препоръчваме да прочетете известието за поверителност на всеки уебсайт, който посещавате.</span></p>
<div><a name="r14"></a><strong>14. Контакт</strong></div>
<p>За допълнителна информация или за упражняване на правата си, моля, проверете вашия акаунт / настройки за поверителност или се свържете с нашия офис за поверителност, като използвате нашия <a href="https://help.CreITBuy.bg/hc/bg/requests/new?ticket_form_id=29631"><strong>формуляр за контакт</strong></a> или чрез <a href="https://help.CreITBuy.bg/hc/bg/requests/new?ticket_form_id=29631"><strong>Помощния център</strong></a>. Можете също така да се свържете с администратора на данни за вашите местни услуги на адрес: София 1000, район Средец, ул. Ангел Кънчев 1. Napers Classifieds Bulgaria ЕООД.</p>
<div><a name="r15"></a><strong>15. Орган за защита на данните</strong></div>
<div>
<p>&nbsp;</p>
<p>За жалби относно защита на данните можете да се свържете с отговорния орган за защита на данните. Можете да упражните това право, като се свържете с органа на вашето местожителство или работно място или местоположението на администратора на данни.</p>
<p>&nbsp;</p>

</div></div>

         
        </div>
      </section>
    </article>
  </div>
</div>
  
</html>