<section class="py-5">

<div class="container">
   <h1>Your request is not valid.</h1> 
   <h3>Errors:</h3>

    

        @foreach (var item in (List<string>)ViewData["Errors"])
        {
            <div class="alert alert-danger alert-dismissable">
    <a href="javascript:window.history.back()" class="close" aria-label="close">×</a>
            <a><font size="4">@item</font></a>
             </div>
        }
   
</div>
</section>