@model CreITBuy.Infrastructure.Data.Models.Product

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Product</title>
</head>
<section class="py-5">
    <div class="container">
        <h1 style="margin: 2%; text-align: center;">Add Product</h1>
        <div style="padding: 5%;">
                  <form method="post"  enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                     <div class="preview">
                    <img id="file-ip-1-preview">
                </div>
                <label asp-for="ProductImages" class="control-label">Product Images</label>
                <input id="productImages" type="file" asp-for="ProductImages" accept="image/*" multiple  name="fileObj" />
                <span id="productImagesSpan" asp-validation-for="ProductImages" class="text-danger"></span>
            </div>
            
             <script >
   
             let input = document.getElementById('productImages');
                let span = document.getElementById('productImagesSpan');
                input.addEventListener('change', () => {
                let files = input.files;
   
                if(files.length > 0) {
                    if(files.length > 5){
                     span.innerText = 'Please, select 1 to 5 images!';
                     return;
                    }
                }
                else{

                span.innerText = 'Please, select images of your product!';
                }
                });
            
            </script>

            <div class="form-group">
                     <div class="preview">
                    <img id="file-ip-1-preview">
                </div>
                <label asp-for="ProductArchive" class="control-label">Product Archive</label>
                <input id="productArchive" type="file" asp-for="ProductArchive"  accept=".zip,.rar" max-file-size="2147483648" name="productArchive"  />
                <span id="productArchiveSpan" asp-validation-for="ProductArchive" class="text-danger"></span>
            </div>
            <script>
                let input = document.getElementById('productArchive');
                let span = document.getElementById('productArchiveSpan');
                input.addEventListener('change', () => {
                let files = input.files;
   
                if(files.length > 0) {
                    if(files[0].size > 2147483648){
                     span.innerText = 'File Size Exceeds 2gb';
                     return;
                    }
                }
                else{
                span.innerText = 'Please, select archive of your product!';
                return;
                }
                });
</script>
          
           
            
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" id="productDescription" class="form-controll" rows="6" ></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Categories" class="control-label"></label>
                <input asp-for="Categories" class="form-control" />
                <span asp-validation-for="Categories" class="text-danger"></span>
            </div>
            <a>Please, separate the different categories with ", "</a>


            <div class="form-group">
                <label asp-for="Tags" class="control-label"></label>
                <input asp-for="Tags" class="form-control" />
                <span asp-validation-for="Tags" class="text-danger"></span>
            </div>
            <a>Please, separate the different tags with ", "</a>

            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            
            
                <button type="submit" id="submit" class="btn btn-primary text-uppercase">Create</button>
        </form>
    </div>
</div>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</html>
