html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
    margin-top: 10px;
}
.main-header .navbar-nav .nav-item {
    margin: 0;
    height: 60px;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0.5px;
    margin-left: -7.5px;
}

#footer {
    margin-bottom: -62px;

}
#addProductForm {
    margin-left: 3rem;
}
#productDescription {
    height: calc(10.25rem + 2px);
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-shadow: inset 0 0 0 transparent;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#nav1 {
    background-color: #d02328;
    color: #fff;
}
.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: unset;
    border-radius: 0.3rem;
    text-align: center;
}
div.content-wrapper {
    background-image: url("../img/creITbue_backgroung.png");
    background-size: cover;
}
div.navbar-nav{
    resize:horizontal;
}
#pravHeader {
    margin-left: 3rem;
}
#content {
    margin-left: 3rem;
}
#products {
    height: 5cm;
    width: 38cm;
    margin: auto;
}
}
#submit {
    color: #fff;
    background-color: #d02328;
    border-color: #d02328;
    border-width: medium;
    box-shadow: none;
}
div.user-panel img {
    height: auto;
    width: 2.2cm;
    margin-left: -8px;
}
#logo{
    max-height: 1.7cm;
    margin-top: -15px;
}
div.sidebar-mini.sidebar-collapse .main-sidebar, .sidebar-mini.sidebar-collapse .main-sidebar::before {
    width: 6.6rem;
    align-content: center;
}
div.sidebar-mini.sidebar-collapse .content-wrapper, .sidebar-mini.sidebar-collapse .main-footer, .sidebar-mini.sidebar-collapse .main-header {
    margin-left: 6.6rem !important;
}
div.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active, .sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active {
    background-color: #007bff;
    color: #fff;
    width: 5.4cm;
}
div.nav-treeview > .nav-item > .nav-link.active, [class*=sidebar-dark-] .nav-treeview > .nav-item > .nav-link.active:focus, [class*=sidebar-dark-] .nav-treeview > .nav-item > .nav-link.active:hover {
    background-color: rgba(255,255,255,.9);
    color: #343a40;
    width: 5.4cm;
}
div.nav-treeview > .nav-item > .nav-link {
    color: #c2c7d0;
    width: 5.4cm;
}
div.nav-sidebar .nav-item > .nav-link {
    position: relative;
    width: 5.4cm;
}
.sidebar-mini.sidebar-collapse .main-sidebar, .sidebar-mini.sidebar-collapse .main-sidebar::before {
    margin-left: 0;
    width: 6.6rem;
}
.sidebar-collapse.sidebar-mini .main-sidebar .nav-sidebar .nav-link, .sidebar-collapse.sidebar-mini-md .main-sidebar .nav-sidebar .nav-link, .sidebar-collapse.sidebar-mini-xs .main-sidebar .nav-sidebar .nav-link {
    width: 5.6rem;
}
.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active, .sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active {
    background-color: #007bff;
    color: #fff;
}
#sidebar {
    margin-bottom: 0px;
    min-height: 100%;
    position: absolute;
    top: 0;
    height: 1296px;
}