
@{
    ViewData["Title"] = "Confirm your account!";
}
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>

<h1 id="confirmAccount">@ViewData["Title"]</h1>

<div class="alert alert-success alert-dismissible" role="alert" id="confirmText">
        
        <a><font size="5">Thank you for joining our family.<br></font></a>
        <a><font size="4">Please, check your Email for confirmation link, we sending.<br></font></a>
        <a><font size="4">If you cant't see it search in Spam.</font></a>
    </div>