<section class="py-5">
    <div class="container">
        <h1 style="margin: 2%; text-align: center;">Login</h1>
        <div style="padding: 5%;">
            <form method="post">
                <div class="form-group">
                    <label for="email">Email</label>
                    
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Email">
                        <div class="input-group-append">
                        <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                        </div>
                        </div>
                        </div>
                </div>
               <div class="form-group">
                    <label for="password">Password</label>
               <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="Password">
                    <div class="input-group-append">
                    <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                    </div>
                    </div>
                    </div>
                    </div>
                <div class="form-group">
                    <p>Not registered yet? <a href="/User/Register">Register Now!</a></p>
                </div>
                <button type="submit" class="btn btn-primary text-uppercase">Submit</button>
            </form>
        </div>
    </div>
</section>